/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2015, 4:36:28 PM
    Author     : Alex
*/

#head{
    height: 25%;
    width: 25%;
    font-family: "Arial";
    font-size: 32;
}

.workHistoryTable{
    text-align: center;
    width:45%;
    margin-left: 3%;
    width:90%;
}

table:hover{
    box-shadow: 10px 10px 5px #888888;
}

table th{
    font-size: x-large;
    text-align: left;
}

h2{
    color:blue;
    font-family: Georiga;
    
}

.content{
    text-align:center;
    margin-left: 3%;
    margin-right: 7%;
    font-weight: bold;
}